
/* Custom color theme */
:root {
    --f7-grid-gap: 3px;
    --f7-grid-row-gap: 20px;
    --f7-theme-color: #6cdc56;
    --f7-theme-color-rgb: 175, 129, 240;
    --f7-theme-color-shade: #378506;
    --f7-theme-color-tint: #3353d6;
    --f7-card-header-text-color: #000;
    --f7-list-item-divider-height: 5px;
    --f7-button-fill-text-color: #000;
    /* --f7-list-item-divider-font-size: inherit;
    --f7-list-item-divider-bg-color: rgba(0, 0, 0, 0.03);
    --f7-list-item-divider-border-color: rgba(0, 0, 0, 0.22); */
    /* --f7-popover-bg-color: #A0F069;
    --f7-sheet-bg-color: #A0F069; */
}

/* @font-face {
    font-family: 'Sono';
} */

body {
    font-family: 'Sono';
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3353d6;
}

#cotd1 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3353d6;
}

#cotd2 {
    font-size: 36;
}